.env
.env.*.local
.env.local
.env.listmonk
node_modules/
/**/node_modules/
dist/
build/
/web/dist/
/backend-newsletter/dist/
/backend-newsletter/node_modules/
*.log
.DS_Store
.vscode/
.idea/
coverage/
npm-debug.log
yarn-error.log