body,
html {
  padding: 0;
  margin: 0;
  font-size: 1.7vh;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  color: white;
  background: #181818;
}

::selection {
  color: white;
  background: #181818;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "HeaderBespoke", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Gilroy-Black";
  src: local("Gilroy-Black"),
    url("./media/fonts/Gilroy-Black.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
